<table class="table mt-3">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Field</th>
      <th scope="col">Credit Hours</th>
      <th scope="col">Lab</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let course of courses">
      <td>{{ course.course_id }}</td>
      <td>{{ course.name }}</td>
      <td>{{ course.field }}</td>
      <td>{{ course.creditHours }}</td>
      <td>{{ course.lab }}</td>
      <td>
        <button
          class="btn btn-info"
          type="button"
          data-bs-toggle="modal"
          [value]="course.course_id"
          data-bs-target="#editCourse"
          (click)="editCourse(course.course_id)"
        >
          Edit
        </button>
      </td>
    </tr>
  </tbody>
</table>

<app-course-form
  [expectedProp]="formData"
  [courseId]="selectedCourseId"
></app-course-form>
